.hero{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(45deg,rgb(153, 0, 255),rgb(0, 238, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    flex-direction: column;
}
textarea{
    resize: none;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

